<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">
	
	<!-- Twitter Card Section -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@site_username">
	<meta name="twitter:creator" content="@yraffah">
	{% if page.title %}
	  <meta name="twitter:title" content="{{ page.title }}">
	{% else %}
	  <meta name="twitter:title" content="{{ site.title }}">
	{% endif %}
	{% if page.url %}
	  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
	{% endif %}
	{% if page.description %}
	  <meta name="twitter:description" content="{{ page.description }}">
	{% else %}
	  <meta name="twitter:description" content="{{ site.description }}">
	{% endif %}
	{% if page.image %}
	  <meta name="twitter:image:src" content="{{ site.url }}/path/to/image/{{ page.image }}">
	{% else %}
	  <meta name="twitter:image:src" content="https://pbs.twimg.com/profile_images/446105113544130560/9D12vZ9e.jpeg">
	{% endif %}
	
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

</head>

