<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  
  <!-- Enable Google Webmaster tools verification -->
  <meta name="google-site-verification" content="zR7_tB0R4k313m3U_VetXlAW4EUD5X_aQrystnuz3CA" />

	<!-- Twitter Card Section -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@site_username">
	<meta name="twitter:creator" content="@yraffah">
	{% if page.title %}
	  <meta name="twitter:title" content="{{ page.title }}">
	{% else %}
	  <meta name="twitter:title" content="{{ site.title }}">
	{% endif %}
	{% if page.url %}
	  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
	{% endif %}
	{% if page.description %}
	  <meta name="twitter:description" content="{{ page.description }}">
	{% else %}
	  <meta name="twitter:description" content="{{ site.description }}">
	{% endif %}
	{% if page.image %}
	  <meta name="twitter:image:src" content="{{ site.url }}/assets/{{ page.image }}">
	{% else %}
	  <meta name="twitter:image:src" content="https://pbs.twimg.com/profile_images/446105113544130560/9D12vZ9e.jpeg">
	{% endif %}

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="/public/css/poole.css">
  <link rel="stylesheet" href="/public/css/syntax.css">
  <link rel="stylesheet" href="/public/css/hyde.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/apple-touch-icon-144-precomposed.png">
                                 <link rel="shortcut icon" href="/public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="Atom feed" href="/atom.xml">
  
  <!-- Twitter -->
  <meta property="twitter:account_id" content="4503599629564818" />
</head>
