<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>{{ site.title }}</h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}">
        <a href="/">Home</a>
      </li>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
              <a href="{{ node.url }}">{{ node.title }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}

      <!-- <li class="sidebar-nav-item"><a href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a></li> -->
      <li class="sidebar-nav-item"><a href="{{ site.github.repo }}">GitHub project</a></li>
      <!-- <li class="sidebar-nav-item">Currently v{{ site.version }}</li> -->
    </ul>
	
	<!-- Feedburner feed -->
	<a href="http://feeds.feedburner.com/YRaffa" title="Subscribe to my feed" rel="alternate" type="application/rss+xml"><img src="//feedburner.google.com/fb/images/pub/feed-icon32x32.png" alt="" style="border:0"/></a><a href="http://feeds.feedburner.com/YRaffa" title="Subscribe to my feed" rel="alternate" type="application/rss+xml">Subscribe in a reader</a>
	<!-- EOF Feedburner feed -->
	
    <a href='http://www.linkconnector.com/ta.php?lc=065212056961005237&url=http%3A//www.istockphoto.com/search/portfolio/4026288' target='_blank'><img src='http://contributors.gettyimages.com/artist-toolkit/img/logos/iStock_stacked_horz_exclusive_logo_wm.png' /></a>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
	
  </div>
</div>
